mixin profileContent(mail, login, first_name, second_name, display_name, phone)
  .profile_content
    .profile_content__item
      p Почта
      p= mail
    .profile_content__item
      p Логин
      p= login
    .profile_content__item
      p Имя
      p= first_name
    .profile_content__item
      p Фамилия
      p= second_name
    .profile_content__item
      p Имя в чате
      p= display_name
    .profile_content__item
      p Телефон
      p= phone